apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: petclinic
resources:
  - ../../base
  - cluster-secret-store.yaml
  - external-secret.yaml
  - backend-config.yaml
patches:
  - path: ingress-patch.yaml
  - path: service-patch.yaml
  - path: delete-separate-ingress.yaml
images:
  - name: springcommunity/spring-petclinic-config-server
    newName: asia-northeast3-docker.pkg.dev/kdt2-final-project-t1/petclinic-msa/petclinic-config-server
    newTag: "16"
  - name: springcommunity/spring-petclinic-discovery-server
    newName: asia-northeast3-docker.pkg.dev/kdt2-final-project-t1/petclinic-msa/petclinic-discovery-server
    newTag: "16"
  - name: springcommunity/spring-petclinic-customers-service
    newName: asia-northeast3-docker.pkg.dev/kdt2-final-project-t1/petclinic-msa/petclinic-customers-service
    newTag: "16"
  - name: springcommunity/spring-petclinic-visits-service
    newName: asia-northeast3-docker.pkg.dev/kdt2-final-project-t1/petclinic-msa/petclinic-visits-service
    newTag: "16"
  - name: springcommunity/spring-petclinic-vets-service
    newName: asia-northeast3-docker.pkg.dev/kdt2-final-project-t1/petclinic-msa/petclinic-vets-service
    newTag: "16"
  - name: springcommunity/spring-petclinic-api-gateway
    newName: asia-northeast3-docker.pkg.dev/kdt2-final-project-t1/petclinic-msa/petclinic-api-gateway
    newTag: "16"
  - name: springcommunity/spring-petclinic-admin-server
    newName: asia-northeast3-docker.pkg.dev/kdt2-final-project-t1/petclinic-msa/petclinic-admin-server
    newTag: "16"
