apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: petclinic
resources:
  - ../../base
  # ClusterSecretStore는 platform-gitops/external-secrets에서 관리
  - external-secret.yaml
# Karpenter 노드 스케줄링을 위한 patch
patches:
  - path: karpenter-node-selector-patch.yaml
images:
  - name: springcommunity/spring-petclinic-config-server
    newName: 946775837287.dkr.ecr.ap-northeast-2.amazonaws.com/petclinic-msa/petclinic-config-server
    newTag: "16"
  - name: springcommunity/spring-petclinic-discovery-server
    newName: 946775837287.dkr.ecr.ap-northeast-2.amazonaws.com/petclinic-msa/petclinic-discovery-server
    newTag: "16"
  - name: springcommunity/spring-petclinic-customers-service
    newName: 946775837287.dkr.ecr.ap-northeast-2.amazonaws.com/petclinic-msa/petclinic-customers-service
    newTag: "16"
  - name: springcommunity/spring-petclinic-visits-service
    newName: 946775837287.dkr.ecr.ap-northeast-2.amazonaws.com/petclinic-msa/petclinic-visits-service
    newTag: "16"
  - name: springcommunity/spring-petclinic-vets-service
    newName: 946775837287.dkr.ecr.ap-northeast-2.amazonaws.com/petclinic-msa/petclinic-vets-service
    newTag: "16"
  - name: springcommunity/spring-petclinic-api-gateway
    newName: 946775837287.dkr.ecr.ap-northeast-2.amazonaws.com/petclinic-msa/petclinic-api-gateway
    newTag: "26"
  - name: springcommunity/spring-petclinic-admin-server
    newName: 946775837287.dkr.ecr.ap-northeast-2.amazonaws.com/petclinic-msa/petclinic-admin-server
    newTag: "16"
